.cardy{
    max-height: 377px;
}
.mercch-card-img-top{
    max-height: 155px;
    object-fit: cover;
}
.merch-card:nth-child(odd) {
  animation: slideLeft 3s ease forwards;
}
.merch-card :nth-child(even) {
  animation: slideRight 3s ease forwards;
}

@keyframes slideLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slideRight {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}
.merch-card :hover{
  background-color: black;
}

