.groupy {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 21px;
}
.groupy {
  background-color: #0A0A0A; 
  color: #fff;
}
.groupy a {
  color: #fff;
  text-decoration: none;
  padding: 4px 8px;
   transition: all 0.3s ease;
}
.groupy a:hover {
 color: #E10600;
  border-radius: 3px;
  box-shadow: 0 0 8px #E10600;
}
.links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  color: red;
}

.cutey {
  display: flex;
}
.title{
  margin-left: 11px;
  margin-top: 15px;
  color: azure;
}
@media (max-width: 768px) {
  .links {
    position: absolute;
    top: 70px;
    left: 0;
    background: #0A0A0A;
    width: 100%;
    flex-direction: column;
    gap: 1.2rem;

    display: none;  
  }

  .groupy{
    height: 20vw;
  }

  .links.open {
    display: flex; 
    padding: 10px;
  }

  .burger {
    display: flex;
  }
}


.line {
  width: 28px;
  height: 3px;
  background: white;
  margin: 5px 0;
  transition: 0.4s;
}
.line1.active {
  transform: translateY(8px) rotate(45deg);
}
.line2.active {
  opacity: 0;
}
.line3.active {
  transform: translateY(-8px) rotate(-45deg);
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 22px;
}
.menu-img{
  width: 40px;
}